@import "theme.css";
* {
    box-sizing: border-box;
    margin: 1rem;
  }
  .container {
    display: grid;
    grid-template-columns: 200px 40vw 20rem;
    grid-template-rows: 100px 500px 20vh 5rem;
  }
  .content {
    background-color: wheat;
    border: 2px solid black;
  }

body {
  font-family: var(--ff-monteserrat);
  background-color: blue;
  color: black;
  font-weight: 500;
  margin: 1rem;
}

h1 {
  background-color: rgb(172, 4, 4);
  width: 20rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 30px;
  text-align: center;
  margin: 2rem auto;
}
.header {
  background-color: green;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: grey;
  margin-bottom: 1rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 1rem 1.5rem;
  transition: all 1s;
}

.navbar a:hover {
  background-color: rgb(107, 106, 106);
  color: black;
  font-weight: 600;
}
.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 1rem 0;
}

.col {
  padding: 1rem;
}

.fs {
  width: 35%;
  background-color: rgb(145, 144, 144);
}

.aws {
  width: 20%;
  background-color: rgb(131, 130, 130);
}

.data {
  width: 30%;
  background-color:rgb(102, 102, 102);
}

.cms {
  width: 15%;
  background-color: rgb(102, 101, 101);
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  body {
    color: white;
    background-color: rgb(241, 50, 50);
  }

  .col {
    width: 50%;
  }
  h1 {
    width: 15rem;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  body {
    background-color: purple;
    color: white;
  }
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  .header {
    display: none;
  }
  .col {
    width: 100%;
  }
  h1 {
    width: 12rem;
    font-size: 1.2rem;
  }
}